
/* header */
#header_homme{
  width: 100%;
  height: 100px;
  background: rgb(237,144,8);
  padding: 20px;
  margin: 0;
}

#logo{
  width: 250px;
  height: 200px;
  margin-top: -50px;
  position: absolute;
  right: 0;
}
/* menu */

    /* estilos generales */
.menu_homme{
  width: 500px;
  margin: -20px 10px 15px -10px;
  padding: 0;
}

.menu_homme ul{
  list-style: none;
  padding: 0;
}

.menu_homme li a{
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu_homme li:hover{
  background-color: rgba(0,0,0,0.4);
}
.li1_menu_homme:hover  p{
  color: #f7f7f7;
}
      /* primer nivel */
.ul1_menu_homme{
  width: 100%;
}

.li1_menu_homme{
  float: left;
  width: 25%;
  border-right: 1px solid rgba(0,0,0,0.7);
}

.li1_menu_homme p{
  color: rgba(0,0,0,0.8);
  text-align: center;
}

.li1_menu_homme:hover > ul{
  display: block;
}
  /* segundo Nivel */
  
.ul2_menu_homme{
  display: none;
  position: absolute;
}

.li2_menu_homme{
  width: 100%;
  background-color: rgba(237,144,8,0.9);
  border-top: 1px solid rgba(0,0,0,0.7);
}
  
.li2_menu_homme p{
  color: rgba(0,0,0,0.8);
  text-align: center;
}
